<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>全部任务</title>
    <style type="text/css">
        table {
            border: 1px solid black;
            text-align: center;
            border-collapse: collapse;
        }
        table thead th {
            border: 1px solid black;
        }
        table tbody td {
            border: 1px solid black;
        }
    </style>
    <script type="text/javascript" src="../static/jquery/jquery-3.3.1.js" th:src="@{/jquery/jquery-3.3.1.js}"></script>
    <script type="text/javascript" src="../static/index.js" th:src="@{/index.js}"></script>
</head>
<body>
    <div style="align-content: center">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <th>任务编号</th>
                <th>任务名称</th>
                <th>任务分组</th>
                <th>任务状态</th>
                <th>启动状态</th>
                <th>任务类名</th>
                <th>任务方法名</th>
                <th>cron表达式</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>操作</th>
            </thead>

            <tbody>
                <tr th:each="job:${all}">
                    <td th:text="${job.jobId}"></td>
                    <td th:text="${job.jobName}"></td>
                    <td th:text="${job.jobGroup}"></td>
                    <td th:text="${job.jobStatus}"></td>
                    <td th:text="${job.isConcurrent}"></td>
                    <td th:text="${job.runJobClassName}"></td>
                    <td th:text="${job.runJobMethodName}"></td>
                    <td th:text="${job.cronExpression}"></td>
                    <td th:text="${job.createTime}"></td>
                    <td th:text="${job.updateTime}"></td>
                    <td>
                        <a id="add">新增</a>
                        <a onclick="start(this);" id="start" href="#">开始</a>
                        <a onclick="stop(this);" id="stop" href="#">停止</a>
                        <a onclick="pause(this);" id="pause" href="#">暂停</a>
                        <a onclick="ref(this)" id="ref" href="#">恢复</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>